openapi: 3.1.0
info:
  title: Shopper Approved Orders Product Reviews API
  description: The Shopper Approved API allows merchants to programmatically access their review data, submit order information for review collection, retrieve site statistics, manage product reviews, and update review follow-up details. Authentication uses a Site ID and API token passed as query parameters. Shopper Approved is a trusted source for Google Seller Ratings and enables merchants to collect and display verified customer reviews.
  version: '1.0'
  contact:
    name: Shopper Approved Support
    url: https://help.shopperapproved.com/
  termsOfService: https://www.shopperapproved.com/terms/
servers:
- url: https://api.shopperapproved.com
  description: Shopper Approved API
security:
- SiteIdToken: []
tags:
- name: Product Reviews
paths:
  /products/{site_id}:
    get:
      operationId: listProductReviews
      summary: List Product Reviews
      description: Retrieves a list of product-specific reviews for the site. Supports date filtering and pagination.
      tags:
      - Product Reviews
      parameters:
      - name: site_id
        in: path
        required: true
        description: Your Shopper Approved site ID
        schema:
          type: string
      - name: token
        in: query
        required: true
        description: Your Shopper Approved API token
        schema:
          type: string
      - name: from
        in: query
        description: Start date for product reviews
        schema:
          type: string
          format: date
      - name: limit
        in: query
        description: Maximum number of product reviews to return
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: List of product reviews retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductReview'
                  total:
                    type: integer
components:
  schemas:
    ProductReview:
      type: object
      description: A product-specific review
      properties:
        reviewid:
          type: string
          description: The review ID
        product_id:
          type: string
          description: The product identifier
        product_name:
          type: string
          description: The product name
        name:
          type: string
          description: Customer name
        date:
          type: string
          format: date
          description: Date the review was submitted
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Product rating (1-5 stars)
        review:
          type: string
          description: The product review text
        headline:
          type: string
          description: Review headline
        verified:
          type: boolean
          description: Verified purchase
  securitySchemes:
    SiteIdToken:
      type: apiKey
      in: query
      name: token
      description: Shopper Approved API token (used with site_id path parameter)
